body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: gray;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#headerContainer {
    font-weight: bolder;
    font-size: 30px;
}

#battleContainer {
    display: flex;
    flex-direction: row;
}

#scoreContainer {
    font-size: 50px;
    font-weight: bolder;
    margin: auto;
}

.name {
    font-size: 30px;
}
.actionMenu {
    border: 8px solid black;
    border-radius: 30px;
    padding: 25px;
    width: 20%;
    margin: auto;
}
.actionMenu > button {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    border: 8px solid black;
    margin: 10px;
}
.btnImg {
    width: 75px;
    height: 75px;
}
.rockButton > .btnImg {
    width: 95px;
    height: 95px;
}

#currentScore {
    font-size: 80px;
}

#resultContainer {
    margin: auto;
    font-size: 30px;
}

#footerContainer {
    margin-top: auto;
}
#footerContainer * {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}