body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: gray;
    text-align: center;
}

body * {
    font-family: 'Courier New', Courier, monospace;
}

#headerContainer {
    font-size: 30px;
}

#battleContainer {
    display: flex;
    flex-direction: row;
}
#scoreContainer {
    font-size: 50px;
    font-weight: bolder;
    margin: auto;
}
.name {
    font-size: 30px;
}
.actionMenu {
    border: 8px solid black;
    border-radius: 30px;
    padding: 25px;
    width: 20%;
    margin: auto;
}
.actionMenu > button {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    border: 8px solid black;
    margin: 10px;
}
.btnImg {
    width: 75px;
    height: 75px;
}
img[alt~="Rock"] {
    width: 95px;
    height: 95px;
}
#currentScore {
    font-size: 80px;
}

#resultContainer {
    margin: auto;
    font-size: 30px;
}

#resetButton {
    border: 5px solid black;
    border-radius: 10px;
    font-size: 28px;
}
#playerContainer button,
#resetButton {
    cursor: pointer;
}
#playerContainer button:hover,
#resetButton:hover {
    background-color: #d3d3d3;
}
#playerContainer button:active,
#resetButton:active {
    background-color: #bdbdbd;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.unclickable {
    cursor: none;
    pointer-events: none;
}
#computerContainer {
    cursor: none;
    pointer-events: none;
}

.winHighlight {
    border: 10px solid green !important;
}
.loseHighlight {
    border: 10px solid red !important;
}
.tieHighlight {
    border: 10px solid yellow !important;
}

#footerContainer {
    margin-top: auto;
}
#footerContainer * {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}